
/**/.list {
    display: flex;
    list-style-type:none;
    list-style: none;
    gap: 40px;

  }
.body {
    font-family:Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.body-container {
    width: 1440;
    height: 3300;
    background: #FFFFFF;
    padding-left: 370px;
    padding-top: -1169px;  
}
.header {
    border-bottom: 1px solid #e7e9fc
}
.header-container { 
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding-left: 0 15px; 
    padding-right: 0 15px;      
    }
 .top-line { 
    display: flex;
    align-items: center;
    
     }   
.logo_a {
    text-decoration: none;
    color: var(--NAVY-BLUE, #4D5AE5);
    font-family:Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    text-align: left;
    margin-right: 76px
}
    .logo_b {
        text-decoration: none;
        color: var(--NAVY-BLUE, #2e2f42);
        font-family:Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.03em;
        line-height: 1.17;
        text-transform: uppercase;
        text-align: left;
        margin-right: 76px
    }
.top-line-menu {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.menu {
    color:#2e2f42;
    font-family: Roboto;
    font-size: 16px;
    background: #FFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    }
.list-menu {
    display: flex;  
    list-style: none;
    text-decoration: none;
    color: #2e2f42;
    line-height: 1.5;
    letter-spacing: 0.02em;
    gap: 40px;
    padding: 24px 0;
    }
.list-menu:hover,
.list-menu:focus{
    color:#404bbf;
}
.section-hero {
    color: var(--NAVY-BLUE, #2E2F42); 
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.07; /*111.1%*/
    letter-spacing: 0.02em;
    padding: 188px 0;
}
.section1-container {
    display: flex;
}
.tagline-text_hero {
    display: block;
    color: #FFF;
    background: #2E2F42;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700px;
    max-width: 496px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.button_text {
    display: block;
    color: #fff;
    background: var(--NAVY-BLUE,#4D5AE5);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none; 
    border-radius: 4px;
    cursor: pointer; 
    top: 428px;
    left: 636px;
    padding: 16px, 32px, 16px, 32px;
    gap: 10px;
}

.button_text:hover,
.button_text:focus{
    background-color:#404BBF;
}

.text_address {
    font-style: normal;
}
.list-address {
    text-decoration: none;
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    background: #FFF;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5; 
}
.list-address-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    }
.text_address :hover,
.text_address :focus {
    color: #404bbf;
    }


.section-hero {
    background-color:  #2e2f42;
}
.section-our-goal {
    padding: 120px 0;
}
.section2-container {
    
}
.section-title-goal {
    visibility: hidden;
    color: var(--NAVY-BLUE, #2E2F42); 
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2; /*1.2%*/
    letter-spacing: 0.02em;
}
.list-section2 {
    display: flex;
    list-style-type:none;
    list-style: none;
    gap: 24px;
}
.list-goal {
    color: #2e2f42;
    width: calc((100% - 72px) / 4); 
    flex-basis: calc((100% - 72px) / 4);

}
   

.team-list-foto {
    display: block;
    max-width: 100%;
    height: auto;
    padding-bottom: 32px;
}
.section-text-goal {
    color: var(--NAVY-BLUE, #2e2f42);
    background: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /*120%*/
    letter-spacing: 0.02em;
    margin-bottom: 8px; 
}


.text-goal {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    background: #FFF;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5; 
}
.section-team {
    background-color: #F4F4FD; 
    padding: 120px 0; 

}
.section-title-team {
    color: var(--NAVY-BLUE, #2E2F42); 
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /*1.11%*/
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;  
}
.section3-container {

}
.list-team {
    display: flex;
    background-color: #FFFFFF;
    display: flex;
    column-gap: 24px;
    padding-bottom: 120px;
    gap: 24px;
}
.foto_background {
    color: white;
    background-color: #FFFFFF;
    width: calc((100%-72px)/4);
    
    border-radius: 0px 0px 4px 4px;
    border: none;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border: none;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    }
.team-card {
    padding-top: 32px; 
    padding-bottom: 32px;
}
.section-text-team {
    color: var(--NAVY-BLUE, #2e2f42);
    background: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /*120%*/
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
    
}
.text-team {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    background: #FFF;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5;
    text-align: center;
}
.section-portfolio {
    padding-top: 120px; 
    padding-bottom: 120px;
}
.section4-container {

}




.section-title-portfolio {
    color: var(--NAVY-BLUE, #2E2F42); 
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11; /*1.11%*/
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.list-portfolio {
    display: flex;
    color: #2e2f42;
    list-style: none;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-list-item {
    border: 1px solid #e7e9fc;
    width: calc((100% - 48px) / 3);

}
.portfolio-card {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none; 
}
.portfolio-list-foto {
    display: block;
}
.portfolio-card-item {
    display: block;
    text-align: center;
    border: 1px solid #e7e9fc;
    border-top: none; 
}
.section-text-portfolio {
        color: var(--NAVY-BLUE, #2e2f42);
        background: #FFF;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2; /*120%*/
        letter-spacing: 0.02em;
        margin-bottom: 8px;

    }
    .text-portfolio {
        color: #434455;
        font-family: Roboto;
        font-size: 16px;
        background: #FFF;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0.02em;
        line-height: 1.5; 
    }
.footer-name {
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-container {

}
.footer-logo_a {
    display: inline-block; 
    text-decoration: none;
    color: var(--NAVY-BLUE, #4D5AE5);
    font-family:Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 16px; 
}
.footer-logo_b {
        
    display: inline-block; 
    text-decoration: none;
    color: #f4f4fd;
    font-family:Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 16px;
}
.footer-text {
            color: #F4F4FD;
            font-family: Roboto;
            font-size: 16px;
            background: #FFF;
            font-weight: 400;
            letter-spacing: 0.02em;
            line-height: 1.5; 
            max-width: 264px;
        }