
/**/.list {
  list-style-type:none; 
  }
.body {
    font-family:Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.logo_a {
    color: var(--NAVY-BLUE, #4D5AE5);
    font-family:Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    text-align: left;}
    .logo_b {
        color: var(--NAVY-BLUE, #2e2f42);
        font-family:Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.03em;
        line-height: 1.17;
        text-transform: uppercase;
        text-align: left;}

.menu {
    color: var(--NAVY-BLUE, #2e2f42);
    font-family: Roboto;
    font-size: 16px;
    background: #FFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;}

.list-menu :hover,
.list-menu :focus {
    color: #404bbf
}



.tagline-text {
    color: #FFF;
    background: #2E2F42;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700px;
    line-height: 2; /*200%*/
    line-height: 1.5;
    letter-spacing: 0.02em;}

.button_text {
    color:#fff;
    background: #4D5AE5;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.list-goal {
    color: #2e2f42;
    

}
.text_address {
    font-style: normal;
}

.section-title {
    color: var(--NAVY-BLUE, #2E2F42); 
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11px; /*111.1%*/
    letter-spacing: 0.02em;

}

.foto_background {
color: white;
}
.section-text {
    color: var(--NAVY-BLUE, #2e2f42);
    background: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2px; /*120%*/
    letter-spacing: 0.02em;
    
}
.text {
    color: var(--NAVY-BLUE, #2e2f42);
    font-family: Roboto;
    font-size: 16px;
    background: #FFF;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

